<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="log" cols="100" rows="20"></textarea><br>
    <h3>country name :</h3>
    <input id="name-input" type="text" size="100"><br>
    <h3>cases integer :</h3>
    <input id="cases-input" type="text" size="100"><br>
    <h3>dies integer :</h3>
    <input id="dies-input" type="text" size="100"><br>
    <input id="submit" type="button" value="Add">
    <script>
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/add/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#log').value += (data.message.name + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#dies-input').focus();
        document.querySelector('#dies-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#submit').click();
            }
        }; 

        document.querySelector('#submit').onclick = function(e) {
            const name = document.querySelector('#name-input');
            const cases = document.querySelector('#cases-input');
            const dies = document.querySelector('#dies-input');

            const message = {
                'name':name.value,
                'dies':dies.value,
                'cases':cases.value,
            };
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            name.value = '';
            cases.value = '';
            dies.value = '';
        }; 
    </script>
</body>
</html>