<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <script>
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/dash/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            let name = data.message['name'];
            let cases = data.message.cases;
            let dies = data.message.dies;
            console.log(data)
            document.querySelector('#chat-log').value += (data.message + '\n');
            document.querySelector('#chat-log').value = 'name : '+name + "cases: " + cases;
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };
    </script>
</body>
</html>