<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <h1>Hello, world!</h1>


    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Country</th>
          <th scope="col">Cases</th>
          <th scope="col">Deathes</th>
        </tr>
      </thead>


      <tbody id="main-tbody">
      {% for country in qs %}
         <tr>
          <th scope="row">#</th>
          <td>{{country.name}}</td>
          <td>{{country.cases}}</td>
          <td>{{country.dies}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <script>
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/dash/'
          
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            let name = data.message['name'];
            let cases = data.message.cases;
            let dies = data.message.dies;

            var tbody = document.getElementById("main-tbody");

            var row = tbody.insertRow();
            var cell0 = row.insertCell(0);
            var cell1 = row.insertCell(1);
            var cell2 = row.insertCell(2);
            var cell3 = row.insertCell(3);

            // Add some text to the new cells:
            cell0.innerHTML = "#"
            cell1.innerHTML = name;
            cell2.innerHTML = cases;
            cell3.innerHTML = dies;
            
        };


        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>